<ion-view view-title="MyPromoPay Wallet" class="cart-view" cache-view="false">
  <ion-content>
    <div ng-if="products.length == 0">
      <div class="empty-cart">
        <i class="icon ion-ios-cart-outline"></i>
        <h3 class="no-products">You do not have any selected coupons yet</h3>
      </div>
    </div>
    <div ng-if="products.length > 0">
      <div class="products-list">
        <div class="product-list-item" ng-repeat="product in products" ng-if="product.vchr !== null" track by $index>
          <div class="row product-title-wrapper">
            <span class="product-title">{{product.offer.h1}}</span>
          </div>
          <div class="row product-content-wrapper">
            <div class="col">
              <div class="product-picture">
                <pre-img ratio="_1_1" helper-class="main-image">
                  <img ng-src="http://www.rglhosting2.com/validation.3.0.dag/images/vouchers/{{product.offer.imgName}}" spinner-on-load ui-sref="app.product-detail({productId: product.id})">
                </pre-img>
              </div>
              <div class="product-options-wrapper">
                <div class="row remove-product-wrapper">
                  <div class="col col-center col-50">
                    <span class="product-price">Value: €{{product.offer.val}}</span>
                    <span class="product-price">{{product.vchr.validTxt}}</span>
                  </div>
                  <div class="col col-50">
                    <button class="button button-outline button-assertive remove-product-button" ng-click="removeProductFromCart(product)">
                      <i class="icon ion-ios-close"></i> Remove
                    </button>
                    <button class="button button-outline button-balanced remove-product-button" ui-sref="app.product-detail({productId: product.id})">
                      <i class="icon ion-ios-checkmark"></i> Use
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item item-divider shop-section-title">
        <span class="title-copy">Total Value Of Your Coupons</span>
        <span class="checkout-total-price section-action">€{{ getSubtotal() }}</span>
      </div>
    </div>
  </ion-content>
</ion-view>
