<ion-view view-title="" class="product-view">
  <ion-content>
    <div class="product-card-content">
      <div class="col">
        <div class="item item-image single-image">
          <pre-img ratio="_1_1" helper-class="main-image">
            <img ng-src="http://www.rglhosting2.com/validation.3.0.dag/images/vouchers/{{product.offer.imgName}}" spinner-on-load>
          </pre-img>
        </div>
        <div class="btn-single">
        <h2 class="product-title">{{product.offer.h1}}</h2>
        <div>
          <p class="product-like"><i></i>You Save:</p>
          <p class="likes"><i class="icon ion-social-euro"></i> {{product.offer.val}}</p>
        </div>
        <button ng-if="product.vchr === null" class="button button-outline button-balanced" ng-click="showAddToCartPopup(product)">
          <i class="icon ion-ios-checkmark"></i>
        </button>
        <button ng-if="product.vchr !== null" class="button button-outline button-balanced">
          T&C
        </button>
        <button class="button button-outline btn-phs" ui-sref="app.shop.popular">
          <i class="icon ion-ios-home"></i>
        </button>
      </div>
      <p class="product-description padding-top">{{product.offer.h2}}</p>
    </div>
      <div class="item item-body">
        <div class="barcodes text-center">
          <div class="human-code">
            <p class="product-description">
                <strong>Your Offer Code</strong></br>
                <span class="humanCode">{{humanCode}}</span>
            </p>
          </div>
        </div>
      </div>
      <div class="item item-body">
        <div class="barcodes text-center">
          <div class="qr-code">
            <p class="product-description">
                <strong>QR Code</strong></br>
            </p>
            <div class="list card" ng-if="!qrData">
              <div class="item item-avatar">
                <h2>No Codes Yet!</h2>
                <p>Click The Green Button Above To Generate This Coupon</p>
              </div>
            </div>
            <qr size="100" text="qrData" ng-if="qrData"></qr>
          </div>
        </div>
      </div>
      <div class="item item-body">
        <div class="barcodes text-center">
          <div class="machine-code">
            <p class="product-description">
                <strong>Machine Readable Barcode</strong></br>
            </p>
            <barcode type="code128b" render="img" string="{{product.vchr.bcodes[2].b}}" options="vm.options" ></barcode>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
