<ion-view view-title="Promopay" cache-view="false" class="shop-popular-view">
  <ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()">
    </button>
  </ion-nav-buttons>
  <ion-content>

    <!-- Pull To Get New -->
    <ion-refresher pulling-icon="ion-arrow-down-b" on-refresh="doRefresh()"></ion-refresher>
    <!-- /Pull To Get New -->

    <!-- Content -->
    <div class="row shop-products-narrow-cards-outer">
      <li ng-show="!products.length">You have no coupons yet!</li>
      <div ng-repeat="product in products" ng-if="product.vchr.spends.length == 0 || product.vchr == undefined"  track by $index class="col col-100 shop-product-narrow-card" ui-sref="app.product-detail({productId: product.id, productTitle: product.offer.val})">
        <div class="list card">
          <div class="item item-image">
            <pre-img ratio="_1_1" helper-class="main-image">
              <img ng-src="http://www.rglhosting2.com/validation.3.0.dag/images/vouchers/{{product.offer.imgName}}" spinner-on-load>
            </pre-img>
          </div>
          <div class="item item-body">
            <h2 class="card-title">{{product.offer.h1}}</h2>
            <p class="card-description"><b>€{{product.offer.val}}</b> - {{product.offer.h2}}</p>
            <button ng-if="product.vchr !== null" class="button button-block button-balanced" ui-sref="app.product-detail({productId: product.id, productTitle: product.offer.val})">
              <i class="icon ion-ios-pricetags"></i> Voucher
            </button>
            <button ng-if="product.vchr === null" class="button button-block button-balanced" ui-sref="app.product-detail({productId: product.id, productTitle: product.offer.val})">
              <i class="icon ion-ios-pricetags-outline"></i> Offer
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- /Content -->

    <!-- Infinit scroll -->
    <ion-infinite-scroll ng-if="moreDataCanBeLoaded()" on-infinite="loadMoreData()" distance="2%"></ion-infinite-scroll>
    <!-- /Infinit scroll -->

  </ion-content>
</ion-view>
