<ion-view view-title="Promopay" class="shop-sale-view">
  <ion-content>
    <div class="row shop-products-narrow-cards-outer">
      <div ng-repeat="product in products" ng-if="product.vchr.spends.length > 0 || product.removed === 1" class="col col-100 shop-product-narrow-card">
        <div class="list">
          <div class="row vouchers">
            <div class="col-25 list-image" style="background-image: url(http://www.rglhosting2.com/validation.3.0.dag/images/vouchers/{{product.offer.imgName}})"></div>
            <div class="col-75">
              <div class="item item-body">
                <h2 class="card-title">{{product.offer.h1}}</h2>
                <p class="card-description"><b>€{{product.offer.val}}</b> - {{product.offer.h2}}</p>
                <button ng-if="product.vchr !== null" class="button button-outline button-block button-assertive">
                  <i class="icon ion-clock"></i> Expired Voucher
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
