<ion-view view-title="Promopay" cache-view="false" class="shop-popular-view">
  <ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()">
    </button>
  </ion-nav-buttons>
  <ion-content>

    <!-- Pull To Get New -->
    <ion-refresher pulling-icon="ion-ios-loop-strong" on-refresh="doRefresh()"></ion-refresher>
    <!-- /Pull To Get New -->

    <!-- Content -->
    <div class="row shop-products-narrow-cards-outer">
      <div class="list card" ng-show="!products.length">
        <div class="item item-avatar">
          <h2>You Have No Vouchers Yet!</h2>
          <p>Check Back Soon or try pulling down<br/> to refresh the app!</p>
        </div>
        <div class="item item-body">
          <p>
            This app allows you to browse, select and use offers made available to you from many retailers and
            brands.  If not already done so, please register and remember the more information you provide us, the
            better we can focus on the best offers for you.  Don’t forget to all ensure notifications are on so we can
            send you the latest relevant offers
          </p>
        </div>
      </div>
      <div ng-repeat="product in products | orderBy:'product.valids[0].toT'" ng-if="product.vchr === null || product.removed < 1" track by $index class="col col-100 shop-product-narrow-card">
        <div class="list">
          <div class="row vouchers">
            <div class="col-25 list-image" style="background-image: url(http://www.rglhosting2.com/validation.3.0.dag/images/vouchers/{{product.offer.imgName}})"></div>
            <div class="col-75">
              <div class="item item-body">
                <h2 class="card-title">{{product.offer.h1}}</h2>
                <p class="card-description amount">You Save: <b>€ {{product.offer.val}}</b></p>
                <p class="card-description">{{product.offer.h2}}</p>
                <button ng-if="product.vchr === null" class="button button-outline button-block button-balanced" ng-click="showAddToCartPopup(product)">
                  <i class="icon ion-ios-checkmark"></i> Accept
                </button>
                <button ng-if="product.vchr === null" class="button button-outline button-block button-assertive" ng-click="removeVoucher(product)">
                  <i class="icon ion-ios-close"></i> Reject
                </button>
                <button ng-if="product.vchr === null" class="button button-outline button-block button-phs" ui-sref="app.product-detail({productId: product.id, productTitle: product.offer.val})">
                  <i class="icon ion-log-in"></i> View
                </button>
                <button ng-if="product.vchr.spends.length === 0" class="button button-outline button-block button-positive" ui-sref="app.product-detail({productId: product.id, productTitle: product.offer.val})">
                  <i class="icon ion-log-in"></i> View Your Offer
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Content -->

    <!-- Infinit scroll -->
    <ion-infinite-scroll ng-if="moreDataCanBeLoaded()" on-infinite="loadMoreData()" distance="2%"></ion-infinite-scroll>
    <!-- /Infinit scroll -->

  </ion-content>
</ion-view>
