<ion-view class="welcome-view" cache-view="false">
  <ion-nav-bar>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content scroll="false">
    <!-- <div multi-bg="['http://lorempixel.com/640/1136?1']" interval="3000" helper-class="no-facebook-welcome-bg"> -->
    <!-- <div multi-bg="['http://i.giphy.com/tKX6FNU9UGwF2.gif']" interval="3000" helper-class="no-facebook-welcome-bg"> -->
    <!-- <div multi-bg="['http://i.giphy.com/13f7pejozPXuta.gif']" interval="3000" helper-class="no-facebook-welcome-bg"> -->
    <div multi-bg="['img/s.4.jpg']" interval="0" helper-class="no-facebook-welcome-bg">
    <!-- <div multi-bg="['img/giphy-bg.gif']" interval="3000" helper-class="no-facebook-welcome-bg"> -->
      <div class="top-content row">
        <div class="app-copy col col-center">
          <img ng-src="img/PromoPay-withtagline.png" width="300">
          <!-- <h1 class="app-logo">PromoPay</h1>
          <p class="app-tagline">
            Be Amazing
          </p> -->
        </div>
      </div>
      <div class="bottom-content row">
        <div class="col col-bottom">
          <a class="create-account button-large button button-block" ui-sref="welcome-back">
            Log In
          </a>
          <a class="have-account button button-clear button-block" ui-sref="create-account">
            Create an account
          </a>
          <section ng-include="'views/app/legal/legal-notice.html'"></section>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
