<ion-view ng-class="{'own-profile': myProfile}" class="profile-view" cache-view="false" view-title="">
  <ion-content has-bouncing='false' class="profile-content" delegate-handle="profile-scroll">
    <div class="row profile-data">
      <div class="col">
        <ion-slide-box class="profile-slides" on-slide-changed="slideHasChanged($index)">
          <ion-slide>
            <div class="row slide-content">
              <div class="col col-center user-data">
                <!-- We need a wrapper with width set for the preload image directive -->
                <div class="user-image-outer">
                  <pre-img ratio="_1_1" helper-class="rounded-image">
                    <img class="user-image" ng-src="{{user.picture}}" spinner-on-load>
                	</pre-img>
                </div>
                <h2 class="user-name">{{user.name}}</h2>
              </div>
            </div>
          </ion-slide>
        </ion-slide-box>
      </div>
    </div>
    <div class="row user-interactions">
      <div class="col">
        <div class="row split-actions" ng-if="!myProfile">
          <div class="col">
            <button class="button button-block highlighted">
              Following
            </button>
          </div>
          <div class="col">
            <button class="button button-block">
              Message
            </button>
          </div>
        </div>
        <div class="row split-actions" ng-if="myProfile">
          <div class="col">
            <button class="button button-block icon-left ion-gear-a settings-button" ui-sref="app.settings">
              History
            </button>
          </div>
        </div>
        <div class="row split-actions">
          <div class="col user-interaction">
            <p>
              <a class="user-interaction-tab" ng-class="{active: ('app.profile.posts' | includedByState)}" nav-transition="none" ng-click="getUserPosts(user._id)" role="tab">Total Coupons Used: <b>{{user.followers}}</b></a>
            </p>
          </div>
          <div class="col user-interaction">
            <p>
              <a class="user-interaction-tab" ng-class="{active: ('app.profile.likes' | includedByState)}" nav-transition="none" ng-click="getUserLikes( user._id)" role="tab">Total Amount Saved: <b>{{user.following}}</b></a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row user-form">
      <div class="col">
        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Name</span>
            <input class="multi-input" type="text" placeholder="Name" name="name" ng-model="user.name">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Phone Number</span>
            <input type="tel" placeholder="Phone Number (Optional)" name="phone" ng-model="user.phone">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Email</span>
            <input type="email" placeholder="Email" name="email" ng-model="user.email">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Password</span>
            <input type="password" placeholder="Password" name="password" ng-model="user.password">
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <button type="submit" class="sign-up button button-block" ng-click="updateInformation(user)">
        Save Information
      </button>
    </div>
  </ion-content>
</ion-view>
