<ion-modal-view class="modal-view">
    <ion-header-bar>
        <h1 class="title modal-title">Help</h1>
        <a class="button button-clear" ng-click="help_modal.hide()">
            <span class="icon ion-close"></span>
        </a>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="row">
            <div class="col">
                <div class="privacy-policy">
                    <h4 class="title">Help</h4>
                    <p>If you are unable to find the information required in our Terms and Conductions, FAQs or Privacy

                        sections and/or any other sections of the PromoPay Mobile app please send your specific 

                        question(s) to info@PromotionalPayments.com.</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
