<ion-modal-view class="modal-view">
    <ion-header-bar>
        <h1 class="title modal-title">Terms of Service & Privacy Policy</h1>
        <a class="button button-clear" ng-click="terms_of_service_modal.hide()">
            <span class="icon ion-close"></span>
        </a>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="row">
            <div class="col">
                <div class="terms-of-service">
                    <h4 class="title">1 Terms of Service</h4>
                    <p>
                        These Terms and Conditions govern your use of the Company website www.promotionalpayments.com (the “Mobile Application”) and your relationship with Promotional Payments Solutions (the “Company”, “we” or “us”). Please read them carefully as they
                        affect your rights and liabilities under the law. By accessing or using this website, it will be deemed that you have accepted these terms and conditions. If you do not agree to these Terms and Conditions, please do not use the Mobile Application. If
                        you have any questions on the Terms and Conditions, please contact info@PromotionalPayments.com

                    </p>

                    <p></p>1.1 Definitions:</p>
                    <p>
                    <ul>
                        <li>
                1. “Manufacturer/Supplier" means a third party seller of goods and services for which a voucher can be redeemed. They have agreed to accept presentation of the Voucher as full or part payment for the obligation to provide the Voucher Products;
                        </li>
                        <li>
                2. "Voucher" means a voucher issued by a manufacturer/supplier to you on behalf of the manufacturer/supplier, which entitles the Customer to redeem specified Voucher Products from a specified Merchant in accordance with the terms of purchase.
                        </li>
                        <li>
                            3. “Voucher Sales” means an offer to purchase redeem vouchers against products of the manufacturer/suppier to users at a price in accordance with any terms and conditions as may be contained with the Voucher.
                        </li>
                    </ul>
                </p>


                <p>1.2 Use of the Mobile Application:</p>

                <p>
                    <ul>
                        <li>
                            1. The Mobile Application and the Directory are provided to you for your personal use subject to these Terms and Conditions. By using the Mobile Application you agree to be bound by these Terms and Conditions. You may not use the PromoPay Mobile
                            appfor any commercial purpose including but not limited to supplying another service; or to obtain information which you either incorporate into your service or product; or to enhance your service or product or your business in any way such as the
                            creation of potential customer lists.
                        </li>
                        <li>
                                                 2. You shall not assign, dispose of, sub-licence or otherwise transfer this right.
                        </li>
                        <li>
                            3. You acknowledge that the reproduction, copying, downloading, storage, recording, broadcasting, re-transmission and
                                                distribution of the information contained on PromoPay Mobile appor any part thereof is not permitted and further that this information is not to be made available on a network. Promotional Payment Solutions reserves the right to suspend, modify or
                                                withdraw PromoPay Mobile Application, or any part thereof, at any time.
                        </li>
                        <li>
                            4. You acknowledge that you may not access PromoPay Mobile appby any means, or in any sequence, other than those provided by Promotional Payment Solutions as part of its normal
                                               user interface. It is your responsibility to ensure that it is lawful for you to access PromoPay Mobile appand to ensure that these Terms and Conditions are brought to the attention of anyone who may read any information contained on the website.
                        </li>
                        <li>
                            5.
                            Any commercial use requires a separate and specific agreement with Promotional Payments Solutions.
                        </li>
                        <li>
                            6. You may not use the Mobile Application for any of the following purposes, and you will be responsible for our losses and costs resulting from your
                            breach of this clause : a. disseminating any unlawful, harassing, libellous, abusive, threatening, harmful, vulgar, b. transmitting material that encourages conduct that constitutes a criminal offence, or c. interfering with any other person’s use or
                            enjoyment of the Mobile Application; or obscene, or otherwise objectionable material or otherwise breaching any laws; otherwise breaches any applicable laws, regulations or code of practice; d. making, transmitting or storing electronic copies of
                            materials protected by copyright without the permission of the owner.
                        </li>
                    </ul>
                </p>
            </p>

                <p>

                    1.3 Amendments to Terms and Conditions:</p>
                    <ul>
                        <li>
                            1. We may update these Terms and Conditions from time to time fo legal or regulatory reasons or to allow the proper operation of the Mobile Application. Any changes will be notified to you via the PromoPay
                           Mobile Application. The changes will apply to the use of the PromoPay Mobile appafter we have given notice. If you do not wish to accept the new Terms and Conditions you should not continue to use the PromoPay Mobile Application. If you continue to
                           use the PromoPay Mobile appafter the date on which the change comes into effect, your use of the PromoPay Mobile appindicates your agreement to be bound by the new Terms and Conditions. 1.4 Intellectual Property: 1. The content of the PromoPay Mobile
                           appis protected by copyright, trademarks, database right and other intellectual property rights. You may retrieve and display the content for your own personal non-commercial use, provided you keep intact all and any copyright and proprietary
                           notices. You may not otherwise reproduce, modify, copy or distribute or use for commercial purposes any of the materials or content on the PromoPay Mobile appwithout written permission from Promotional Payments Solutions. 2. Promotional Payments
                           Solutions, as well as advertisers, logos and trademarks are the property of their owners and you may only use the trademarks and logos featured on the website for the sole purpose of displaying the website on your computer screen or printing out the
                           website on your printer. 1.5 Content, Third Party Websites, Availability of the Mobile Application, Warranties, Liability and Indemnity: 1. We try to ensure that the information and content contained on PromoPay Mobile appis as accurate as possible.
                           Promotional Payments Solutions makes no representations, conditions or warranties of any kind what so ever, expressed or implied, in relation to the accuracy, completeness, legality, quality or suitability of the information or content contained on
                           PromoPay Mobile Application.
                        </li>
                        <li>
                            2. All information relating to an individual business or advertiser including but not limited to business trading name, service description, addresses, locations, contact details, images, logo and voucher offerings
                                                providers are provided by the business. It is the sole responsibility of the business in question to ensure that all information is correct and accurate, and that this information can be published.
                        </li>
                        <li>
                            3. Some content on PromoPay Mobile apphas not been
                                               created by Pormotional Payments Solutions. We provide tools for manufacturers/suplliers and users to submit content and hence cannot be held responsible for the integrity of any content found on the website. Promotional Payments Solutons cannot
                                               confirm that the statements made by or attributed to a party are accurate.
                        </li>
                        <li>
                            4. As a convenience to customers, the Mobile Application includes links to other web sites or material which are beyond its control. The Company is not responsible for content
                                               on any sites for which links are provided. The Company does not under any circumstances endorse or approve the content of such third party websites.
                        </li>
                        <li>
                            5. To the fullest extent permitted by law neither Promotional Payments Solutons nor its officers,
                                               directors employees or agents assume any responsibility or liability for, nor shall any of them be liable for, any loss or damage whether direct, indirect, special, consequential or otherwise, caused by any advertising or use of or arising from or in
                                               connection with the PromoPay Mobile app(including without limitation any loss or damage caused or arising from incorrect or omitted contact details, incorrect or omitted wording or content of advertisements). Errors or omissions will be corrected
                                               when possible, if reported in writing to Promotional Payments Solutons.
                        </li>
                        <li>
                            6. Use of PromoPay Mobile appis at your own risk. The inclusion of an advertisement for, or content referring to, goods or services on PromoPay Mobile appdoes not constitute an
                                               endorsement or recommendation of any kind in respect of those goods or services by Promotional Payments Solutons, its officers, directors, employees or agents. Promotional Payments Solutons, its officers, directors, employees or agents do not make
                                               and you do not receive any representation, warranty or condition either express or implied, statutory or otherwise with respect to any goods, services, information or advice received through or advertised on PromoPay Mobile app(including without
                                               limitation any representation, warranty or condition as to the quality or fitness for purpose of the goods or services of any person advertising in the directory, or that such person has the necessary skill to provide or render any goods or services
                                               advertised or that they will provide or render such goods or services with due skill, care and diligence).
                        </li>
                        <li>
                            7. Due to the nature of the Internet, Promotional Payments Solutons gives no warranty or commitment that use of PromoPay Mobile appwill be free
                           from delays, interruptions or errors. Promotional Payments Solutons shall not in any event be responsible to the Customer/Advertiser or any third party for loss of profits, revenue or goodwill of any indirect, special, incidental, punitive or
                           consequential losses or damages arising as a result of your use of or access to the Mobile Application or any faults, interruptions or delays in connection with the Mobile Application, or any transaction made in connection with the Mobile Application
                           or in reliance on the information contained therein.
                        </li>
                        <li>
                            8. Your access to the Mobile Application may be occasionally restricted to allow for repairs, maintenance or the introduction of new facilities or services. We will attempt to restore the service
                                               as soon as we reasonably can.
                        </li>
                        <li>
                            9. Advertisers are responsible for ensuring all content within their advert is lawful and complies with local advertising standards.
                        </li>
                        <li>
                            10. By providing content for promotion on the website, advertisers automtically agree
                                                to be bound by Voucher Pages Advertising Terms & Conditions (available on request for an advertiser) governing all content, payment, cancellation and advertising rules.
                        </li>
                        <li>
                            11.B y providing content for promotion on the website, it is agreed that
                                               Promotional Payments Solutons may use all relevant content for the purposes of promotion. This also extends to providing content to third party websites, and any other means or platform where Promotional Payments Solutons wished to promote the
                                               website.
                        </li>
                        <li>
                            12. By providing content for promotion on the website, it is agreed the Promotional Payments Solutons may create web pages with content relating to your business and contact details. When promotion ends, vouchers will be marked as expired,
                                               once written confirmation is received to remove vouchers and any outstanding invoices have been paid in full. Web pages containing content and expired vouchers relating to a business will be marked as expired and removed from the Category Search
                                               Results but will not be removed from the internet. 1.6 Governing Law and Jurisdiction: 1. These Terms and Conditions shall be governed by and construed in accordance with the laws of Ireland and the parties submit to the non-exclusive jurisdiction of
                                               the Irish Courts. This will not prevent the Company from pursuing any claims in respect of a breach of these Terms and Conditions or otherwise in any other jurisdiction in the world. Any users of the Mobile Application who access the Site from
                                               jurisdictions outside of Ireland are responsible for ensuring that they comply with any applicable local laws. 1.7 International Use: 2. We make no promise that materials on the Mobile Application are appropriate or available for use in locations
                                               outside Ireland, and accessing the Mobile Application from territories where its contents are illegal or unlawful is prohibited. If you choose to access this site from locations outside Ireland, you do so on your own initiative and are responsible
                                               for compliance with local laws. 1.8 Redemption of the Gift Vouchers/Deals and Promotional
                        </li>
                    </ul>

                </p>

                <h4 class="title">Vouchers:</h4>
                <p>
                    <ul>
                        <li>
                                                1. Upon Activation, the Gift Voucher/Deals and Promotional Voucher; shall be redeemable by you from the Merchant for the specified Voucher Products during the redemption period specified on the Voucher.
                        </li>
                        <li>
                            2. The Merchant shall honour its obligation to
                                               provide Voucher Products upon the presentation of the Voucher by you, other than in the event of fraud or where that redemption would breach Applicable Laws.
                        </li>
                        <li>
                            3. The restrictions, if any, in relation to the combination of redemption of the Voucher
                                               with any other promotions, vouchers, third party certificates, coupons or other conditions shall be at the discretion of the Merchant.
                        </li>
                        <li>
                            4. Where your Gift Vouhcer/Deal or Promotional Voucher has reached or is past the redemption period set out at the
                            time of the promotion, it shall be deemed to have expired. Expired Vouchers will not be honoured by the Merchant nor will you have any recourse to Promotional Payments Solutons for the value of the gift voucher/deal or promotional voucher.
                        </li>
                        <li>
                            5. If a
                           voucher is not honoured by a merchange, Promotional Payments Solutons retain the right to terminate any agreement with the merchant and no refund will be provided to the merchant. Promotional Payments Solutons may seek damages.
                        </li>
                </p>
                <p>
                    1.9 Email

                </p>
                <p>
                    <ul>
                        <li>
                            Subscription: 1. By subscribing to our email newsletter, you agree to give us permission to use your details to send you promotional email newsletters and other communications from Voucher Pages and/or any of our partners or third party companies
                            including but not limited to these businesses. We may also send you information regarding your account activity, clicks, your interests and purchases, as well as updates about our site, our apps and services, or other promotional offers and
                            competitions. We may also send you information regarding purchases you have made. 2. You can opt-out of our promotional e-mails at any time by clicking the unsubscribe link at the bottom of any of such e-mail correspondence. 3. In order to send
                            emails to you, we need to know a little bit about you. Take a look at our data collection and processing practices in our Privacy Statement for details. 1.10 Miscellaneous: 1. You may not transfer any of your rights under these Terms and Conditions
                            to any other person. We may transfer our rights under these Terms and Conditions to another business where we reasonably believe your rights will not be affected. 2. If you breach these Terms and Conditions and the Company chooses to ignore this, the
                            Company will still be entitled to use its rights and remedies at a later date or in any other situation where you breach the Terms and Conditions. 3. The Company shall not be responsible for any breach of these Terms and Conditions caused by
                            circumstances beyond its reasonable control. 4. An advertising business must activate a promotion within 60 days of payment. 5. The Mobile Application is owned and operated by Promotional Payments Solutons, having its registered office at Dargan
                            House, 21 – 23 Fenian Street, Dublin 2, Ireland. 6. If you have any queries please contact info@PromotionalPayments.com.
                        </li>
                    </ul>
                </p>
                <h4 class="title">Privacy Policy</h4>
                <p>Promotional Payments Solutions values your privacy and is dedicated to safeguarding and preserving your privacy when using our application, visiting our website or communicating electronically with us. This Privacy Policy, together with our Terms
                    & Conditions explains what happens to the types of personal and non-personal information we collect when you use the Promotional Payments Solutions application and website (www.PromotionalPayments.com). By using PromoPay Mobile app you agree to the
                    terms of this Privacy Policy. If you do not agree to these terms please do not continue using PromoPay Mobile app. Promotional Payments Solutions uses the personal information we collect to provide our service to you. We will not rent, sell or share
                    your personal information with any other company for its own marketing purposes without your consent except where mentioned within this policy.</p>
                <h4 class="title">4.1 Collection of Information
                </h4>
                <p>In order to deliver you the best possible service when using PromoPay Mobile app, we collect and process the following information: 4.2 Information you provide us When you download PromoPay Mobile app and use a voucher on for the first time, we
                    ask you to register and provide us with personal information as follows: Your name, email address, date of birth, postcode and gender</p>
                <h4 class="title">4.3 Usage and redemption information</h4>
                <p>As part of the standard operation of using PromoPay Mobile app, we may collect certain non- personal information from you. For example, when you redeem a voucher, your mobile phone automatically records and sends basic information about your
                    voucher redemption and application browsing. This may include the dates and times and redemption information and in the case of an offer being rejected, the information relating to the reason behind the rejection. We may combine this non-personal
                    information with your personal information.</p>
                <h4 class="title">

                    4.4 Mobile phone location

                </h4>
                <p>
                    When you use PromoPay Mobile app, we may receive your location and will use this to give you offers which are near you. Depending on your handset or the network you subscribe to, Promotional Payments Solutions may automatically receive this
                    information.</p>

                <h4 class="title">
                    4.5 Mobile UDID

                </h4>
                <p>When you use the PromoPay Mobile app application for the first time, we will receive a unique identifier for your phone if your handset manufacturer or network provide it. Promotional Payments Solutions may use your unique mobile device
                    identification information to offer you extended services and/or functionality. We may associate that information to the mobile device identification information and to other information we have collected from and about you; however we will not use
                    that number to telemarket to you.</p>

                <h4 class="title">4.6 Directly communicating with Promotional Payments Solutions
                </h4>
                <p>When you send email or other communication to Promotional Payments Solutions, we may retain the communication in order to serve you.
                </p>

                <h4 class="title">4.7 Information you provide on our partners' websites</h4>
                <p>You mind find links to third party websites on our website. These websites should have their own privacy policies which you should check. We do not accept any responsibility or liability for their policies whatsoever as we have no control over them.</p>


                <h4 class="title">
4.8 Merchant loyalty information
                </h4>
                <p>
                    Promotional Payments Solutions may collect and save various merchants' Loyalty Card numbers for

you. These numbers may be stored on the Promotional Payments Solutions servers and will be

transmitted between the Promotional Payments Solutions servers and your device.
                </p>


                <h4 class="title">
4.9 Use of Information and Data
                </h4>
                <p>
                    All personal data is stored securely in accordance with the Data Protection Act 1998.

Unless we are legally required to do so, your data will not be disclosed to third parties.

Where applicable, we may disclose your personal information to any member of our group. This

includes, where applicable, our affiliates, our subsidiaries, our holding company and / or other

companies within our group.
                </p>


                <h4 class="title">
4.10 Emails
                </h4>
                <p>
                    Once you become a PromoPay Mobile app member we’ll send you email newsletters letting you

know about our offers and deals. We may also send you other offers from our partners that we think

you might be interested in. We’ll never share your details with a third party, and you can manage all

your email subscriptions by login into your PromoPay Mobile app account and editing your email

preferences, or unsubscribing via the link at the bottom of the email.
                </p>


                <h4 class="title">
4.11 Unsubscribe
                </h4>
                <p>
                    Users who do not wish to receive our promotional e-mail messages may click the ‘unsubscribe’ link

which will be found at the bottom of each e-mail from Promotional Payments Solutions. You will be

sent to an ‘update your preferences’ page in your account where you can opt out of different types

of promotional e-mails, or click unsubscribe from all.
                </p>


                <h4 class="title">
4.12 Push notifications
                </h4>
                <p>
                    By downloading the PromoPay Mobile app you are opting into receive push notifications to your

device via the application. These will be general notifications about our latest offers and location

based messages when you are near a venue or shop with an offer. Both types of notification can be

controlled in the settings section of the app.
                </p>


                <h4 class="title">
4.13 Use of Cookies
                </h4>
                <p>
                    We may on occasion gather information regarding your computer whilst you are on our website.

This enables us to improve our services and to provide statistical information regarding the use of

our website to our advertisers where appropriate. We may also use the information we collect from

you to show you relevant adverts when you are visiting other sites.

Such information will not identify you personally it is statistical data about our visitors and their use

of our site. This statistical data does not identify any personal details whatsoever.

Similarly to the above, we may gather information about your general internet use by using a cookie

file. Where used, these cookies are downloaded to your computer automatically. This cookie file is

stored on the hard drive of your computer as cookies contain information that is transferred to your

computer's hard drive. They help us to improve our website and the service that we provide to you.

All computers have the ability to decline cookies. This can be done by activating the setting on your

browser which enables you to decline the cookies. Please note that should you choose to decline

cookies, you may be unable to access particular parts of our website.

Our advertisers may also use cookies, over which we have no control. Such cookies (if used) would

be downloaded once you click on advertisements on our website.
                </p>

                <h4 class="title">
4.14 Information Security
                </h4>
                <p>
                    We have take certain operational, physical and technical steps available to safeguard and secure the

information we collect from our users and store on our servers.
                </p>
            </div>
        </div>
    </div>
</ion-content>
</ion-modal-view>
